{{!-- form stuff goes here --}}
{{!-- Name, E-Mail, Comment --}}

<div class="comments"></div>

<button class="add">Add New Comment</button>

<form class="form">
    Name: <input type="text" class="name">
    E-Mail: <input type="text" class="email">
    Content: <input type="text" class="content">
    <button class="submit">Submit Comment</button>
</form>
