<div class="view-comments">
    <ul>
        <li>
            <a href="{{model.email}}">
            <p>Name:</p> {{model.name}}
            </a>
            <p>Content:</p> {{model.content}}
        </li>
    </ul>
</div>
