<div class="view-comments">
    <ul>
        <li>
            <a href="{{email}}">
            <p>Name:</p> {{name}}
            </a>
            <p>Content:</p> {{content}}
        </li>
    </ul>
</div>
